*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    width: 100%;
    padding: 15px;
    position: center;
}
nav ul li{
    display: inline-block; 
text-align:center ;
transition: 0.7ms;
position:relative;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
    color: red;
    
}
nav ul li a:hover{
    background-color: green; 
    color: blue;
    padding:10px;
    }
nav ul li a:hover{
    transition: 0.8s;
}
nav ul li ul{ 
    
    position: absolute;
    background-color: aquamarine;
    
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left:100%;
}
nav ul li:hover> ul{
    opacity: 1;
    visibility:visible;
}
nav ul li ul ul{
    position: absolute;
    background-color: blue;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    top: 100%;
}
nav ul li ul:hover ul{
    opacity: 1;
    visibility: visible;
    transition:0.75s ;
}
nav ul li ul li ul{
    position: absolute;
    background-color: brown;a
    display: inline-block;
    opacity:0 ;
    visibility: hidden;

}
nav ul li ul li:hover ul [
    opacity:1;
    visibility:visible;
]